@model int

<a asp-action="Edit" asp-route-id="@Model">@Localizer["Edit"]</a> |
<a asp-action="Details" asp-route-id="@Model">@Localizer["Details"]</a> |
<a asp-action="Delete" asp-route-id="@Model">@Localizer["Delete"]</a>

