@using Microsoft.AspNetCore.Mvc.Localization;

@model IEnumerable<CursoMOD119.Models.Item>

@{
    ViewData["Title"] = @Localizer["Index"];
}

<h1>@Localizer["Index"]</h1>

<p>
    <a class="btn btn-success"  asp-action="Create">@Localizer["Create new"]</a>
</p>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discontinued)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
@*                <a asp-action="Edit" asp-route-id="@item.ID">@Localizer["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">@Localizer["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">@Localizer["Delete"]</a>*@

                    <partial name="_CRUD_actions" model="item.ID">
            </td>
        </tr>
}
    </tbody>
</table>
